<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Laboratorios</title>
  <link rel="stylesheet" th:href="@{/css/layoutStyle.css}">
  <link rel="stylesheet" th:href="@{/css/laboratoriosStyle.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="layout">
  <!-- Sidebar -->
  <div th:replace="layout/layout :: sidebar"></div>

  <!-- Main Section -->
  <div class="main-section">
    <!-- Header -->
    <div th:replace="layout/layout :: header"></div>

    <!-- Contenido principal -->
    <main class="content">
      <!-- ALERTAS -->
      <div th:if="${param.success}" class="alert alert-success text-center">
        ✅ Laboratorio eliminado correctamente.
      </div>

      <div th:if="${param.error}" class="alert alert-danger text-center">
        ⚠️ No se puede eliminar este laboratorio porque tiene sustancias asociadas.
      </div>


      <div class="box">
        <h1 class="text-center text-success">Laboratorios registrados</h1>

        <div class="top-bar">
          <span>Total: <b th:text="${laboratorios.size()}">0</b></span>
          <a th:href="@{/laboratorios/nuevo}" class="btn">Crear nuevo laboratorio</a>
        </div>

        <div class="table-container">
          <table class="user-table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Laboratorio</th>
              <th>Sede</th>
              <th>Encargado</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lab : ${laboratorios}">
              <td th:text="${lab.idLaboratorio}"></td>
              <td th:text="${lab.nombre}"></td>
              <td th:text="${lab.sede}"></td>
              <td th:text="${lab.encargado.userName}"></td>
              <td>
                <div class="cell-actions">
                  <a th:href="@{/laboratorios/editar/{id}(id=${lab.idLaboratorio})}"
                     class="btn btn-sm btn-warning">Editar</a>

                  <form th:action="@{/laboratorios/eliminar/{id}(id=${lab.idLaboratorio})}"
                        method="post" onsubmit="return confirmarEliminar()">
                    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                  </form>
                </div>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>


    <!-- Footer -->
    <div th:replace="layout/layout :: footer"></div>
  </div>
</div>

<script>
  function confirmarEliminar() {
    return confirm("¿Estás seguro de que deseas eliminar este laboratorio?");
  }
</script>
</body>
</html>
